In [1]:
import pandas as pd

In [4]:
raw_data = pd.read_csv('breast_cancer.csv')
raw_data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [7]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    int64
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 58.8 KB

In [6]:
X = raw_data.iloc[:,1:-1].values #Column 0 is just index
y = raw_data.iloc[:,-1].values

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [20]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=0).fit(X_train, y_train)

In [21]:
lr.coef_

array([[ 4.65889110e-01, -4.17241607e-04,  2.17795350e-01,
         2.58909505e-01,  2.31743361e-01,  3.93075583e-01,
         4.45837062e-01,  2.80987704e-01,  2.83897287e-01]])

In [10]:
y_pred = lr.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_true=y_test, y_pred=y_pred)

0.9562043795620438

In [24]:
confusion_matrix(y_test, y_pred)

array([[84,  3],
       [ 3, 47]])

In [ ]:
from sklearn.model_selection import cross_val_score
acc = cross_val_score()